body {
  font-family: 'Nunito', sans-serif;
}
.center-box {
  position:absolute;
  top:50%;
  left:50%;
  height: 150px;
  width: 350px;
  margin-top:-75px;
  margin-left:-175px;
  text-align: center;
}

.center-box a {
  color: black;
  text-decoration: none;
}

.center-box a:hover {
  text-decoration: underline;
}
.logo {
  font-size: 25px;
  font-weight: bold;
}

.logo.jumbo {
  font-size: 65px;
}

.logo .tech {
  color: #C21A01;
}

footer.fixed {
  position: absolute;
  bottom: 0px;
  left: 50%;
  width: 300px;
  margin-left: -150px;
  margin-bottom: 10px;
  text-align: center;
}
